<!--<hr><hr><hr>-->
<!--<div>-->
<!--<div class="contain"></div>-->

<!--</div>-->
<!--<div>-->
<!--  <div class="cover"></div>-->
<!--</div>-->

<div class="initial-div">
  <form class="example-form">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Number</mat-label>
      <input class="mt-2"
             [formControl]="myControl"
             aria-label="Number"
             matInput
             placeholder="Pick one"
             type="text">
      <!--      <input type="text"-->
      <!--             placeholder="Pick one"-->
      <!--             aria-label="Number"-->
      <!--             matInput-->
      <!--             [formControl]="myControl"-->
      <!--             [matAutocomplete]="auto">-->
      <!--      <mat-autocomplete #auto="matAutocomplete">-->
      <!--        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
      <!--          {{option}}-->
      <!--        </mat-option>-->
      <!--      </mat-autocomplete>-->
    </mat-form-field>
  </form>
</div>
<div class="bgmycolor"></div>
