.linked-in-icon {
  max-width: 30px;
}

.footer{
  align-items: center;
  color: white;
  padding: 15px;
  background-color: black;
  border-top: 0.3px solid aliceblue;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
