@use '@angular/material' as mat;
@include mat.core();

$preference-primary-hues: (
  50: #f0ece2,
  100: #d7cdc0,
  200: #baac9a,
  300: #9c8c74,
  400: #867357,
  500: #705b3a,
  600: #655134,
  700: #57452b,
  800: #4a3822,
  900: #3c2a18,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$preference-secondary-hues: (
  50: #f5f0e1,
  100: #e8d8b4,
  200: #d9bf85,
  300: #cca759,
  400: #c4963d,
  500: #bd8621,
  600: #ba7d1d,
  700: #b47016,
  800: #ae630e,
  900: #a44e00,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$preference-primary-palette: mat.define-palette($preference-primary-hues);
$preference-secondary-palette: mat.define-palette($preference-secondary-hues);

$preference-theme: mat.define-light-theme((
  color: (
    primary: $preference-primary-palette,
    accent: $preference-secondary-palette,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($preference-theme);

