.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  position: fixed;
  background: black;
  border-bottom: 0.3px solid aliceblue;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  overflow: hidden;
  z-index: 1;
}

.example-list {
  width: 150px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.example-list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.example-list > li:last-child {
  border-bottom: none;
}
