

.catalog {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Updated to align items on the left side */
  justify-content: center;

  overflow: hidden;
}

